* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.theme {
    background: white;
}

.black {
    background: black;
}

.main {
    width: 80%;
    margin: 20px auto;
}

.main .top {
    width: 100%;
    height: 150px;
    background-color: #313131;
    align-items: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn_theme {
    padding: 10px;
    border-radius: 10px;
}

.top {
    display: flex;
    justify-content: space-around;
}

.top_text {
    width: 60%;
    margin-left: auto;
}

.top_text p {
    color: #fff;
    padding-top: 10px;
}

.top_text h1 {
    padding-bottom: 5px;
    border-bottom: #fff solid 1px;
    color: #fff;
}

.photo {
    display: flex;
    margin-left: 40px;
}

.photo img {
    width: 270px;
    border-radius: 40%;
    padding-right: 130px;
    border: solid #fff 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    background-color: silver;
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}

.photo img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
}

.title-photo {
    width: 100px;
    display: block;
    position: relative;
    right: 120px;
    padding-top: 60px;
    align-items: end;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    width: 35%;
    background-color: silver;

}

.right-side {
    width: 65%;
}

.contact {
    text-align: center;
    padding-top: 50px;
}
 .contact h2 {
     padding-bottom: 30px;
 }

.contact h4 {
     padding-bottom: 10px;
 }
.contact p {
    padding-bottom: 20px;
}

.skills {
    margin-top: 30px;
    text-align: center;
}

.bars {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 25px;
}

.bars .bar p {
    font-size: 14px;
    font-weight: bold;
}

.bar span {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.html span::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.react span::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.javaScript span::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.node span::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.typeScript span::before {
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.angular span::before {
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.mySQL span::before {
    position: absolute;
    content: "";
    width: 15%;
    height: 80%;
    background-color: green;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}
.mongoDB span::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 80%;
    background-color: green;
    top: 40%;
    left: 2%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.follow_me {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.social-icon {
    text-align: center;
}

.icon-size {
    font-size: 30px;
    margin: 20px;
    color: black;
}

.footer {
    text-align: center;
    margin-bottom: 30px;
}
.btn_write {
    background-color: green;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
}

.container-form {
    display: none;
    margin-top: 20px;
}

.inputField {
    margin-bottom: 10px;
    border-radius: 10px;
}

form textarea{
    height: 100px;
}

.btn_send {
    background-color: green;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
}

.about {
    margin: 30px;
    padding: 50px;
    background-color: rgb(239, 234, 234);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .5);
    border-radius: 20px;
}
.about h3 {
    padding-bottom: 10px;
}

.about p {
    font-size: 14px;
    margin-bottom: 10px;
}

.right-side h3 span {
    margin-right: 20px;
    font-weight: normal;
    color: #a9a6a6;
    font-size: 30px;
}

.


